[submodule "hop01-c-hello-world-maryoohhh"]
	path = hop01-c-hello-world-maryoohhh
	url = git@github.com:cityuseattle/hop01-c-hello-world-maryoohhh.git
[submodule "hop02-maryoohhh"]
	path = hop02-maryoohhh
	url = git@github.com:cityuseattle/hop02-maryoohhh.git
[submodule "hop03-maryoohhh"]
	path = hop03-maryoohhh
	url = git@github.com:cityuseattle/hop03-maryoohhh.git
[submodule "hop04-maryoohhh"]
	path = hop04-maryoohhh
	url = git@github.com:cityuseattle/hop04-maryoohhh.git
[submodule "hop05-maryoohhh"]
	path = hop05-maryoohhh
	url = git@github.com:cityuseattle/hop05-maryoohhh.git
[submodule "hop06-maryoohhh"]
	path = hop06-maryoohhh
	url = git@github.com:cityuseattle/hop06-maryoohhh.git
[submodule "hop07-maryoohhh"]
	path = hop07-maryoohhh
	url = git@github.com:cityuseattle/hop07-maryoohhh.git
[submodule "hop08-maryoohhh"]
	path = hop08-maryoohhh
	url = git@github.com:cityuseattle/hop08-maryoohhh.git
